<!
    Document   : index
    Created on : Aug 15, 2012, 11:26:25 AM
    Author     : Ghulam
!>

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<style>
			.highlightedText {
			background: yellow;
		}</style>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">	
    </head>
    <body>
		<div ng-app="myApp" ng-controller="myCtrl">
			<div id="page-wrapper">
				<div class="container">
					<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
						<span class="logostyle">
							<img src="https://i.ibb.co/zQxfD1v/logo-lloyds-bank-print.jpg" height="55px" width="230px" >
						</span>
					</nav>
					<hr>
					<div id="TOP" class="row" >
						<div class="col-lg-12 col-md-12">
							<div class="col-sm-3">
							</div>
							<div class="col-sm-4">
								<input class="form-control" ng-model="searchItem" placeholder="Search"> 
							</div>
							<div class="col-sm-1">
								<button type = "button" class = "btn btn-success" ng-click="search()" ng-keyup="ifEnterPressed($event)">Search</button>
							</div>
							<div class="col-sm-1">
								<button type = "button" class = "btn btn-danger" ng-click="clearSearchBox()" >Clear</button>
							</div>
						</div>
					</div>
					<br>
					<div class="col-lg-12 col-md-12" ng-show="errFlag==true;">
						<div class="alert alert-danger">
						<i class="fa fa-times-circle"></i>Oopsy Doopsy!!!! No Search Result, Try different KeyWord
						</div>	
					</div>
					<table id="" border="1" class="table table-bordered" style="font-size:11px"  >
						<thead ng-show = "totalPage>0">
							<th width="20%">
								Page : {{currPage}}
							</th>
							<th align="center"> 
							Other Pages : 
							 <span ng-repeat="i in counter(totalPage) track by $index" ng-hide="currPage==($index+1)"><a href="" ng-click="changePage($index+1);">{{$index+1}}</a>{{"&nbsp;"+"&nbsp;"}}</span>
							</th>
						</thead>
					
						<tbody>
							<tr ng-repeat = "i in obj.value track by $index" ng-show="(($index)/3)<currPage && (($index)/3)>=currPage-1 ">
								<td colspan="2"><span ng-bind-html="highlight(i.content.substring(0,1500), searchItem)"></span> <a href="">....More</a></td> 
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		<script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl',['$scope','$sce','$http', function($scope,$sce,$http) {
		
			
			$scope.currPage=0;
			$scope.totalPage=0;
			$scope.searchItem= "";
			$scope.obj=null;
			$scope.counter = Array;
			$scope.errFlag = false;
			
			$scope.search = function(){
				$scope.currPage=0;
				$scope.totalPage=0;
				$scope.errFlag = false;
				if($scope.searchItem.length<3 || $scope.searchItem==null)
				{
					alert("Type a Keyword of 3 chars");
					return;
				}

				/*$scope.obj = { "value": [{
	"@search.score": 0.018246317,
	"content": "\n9/15/2018 :: Shri Mata Vaishno Devi Shrine Board :: Attka Parchi Services\n\nhttps://www.maavaishnodevi.org/onlineservices/AttkaSlip.aspx 1/1\n\nShri Mata Vaishno Devi Shrine Board Katra\n ATTKA DARSHAN PASS \n\n Booking Office : ONLINE \nDate Of Darshan : 14-Nov-2018  \n\n \n\nThe Passenger must carry the Credit/Debit Card in original through which the Transaction has\nbeen made without which the Reservation/Boarding will be denied without any refund.\n\nName RAJEEV CHADHA Transaction ID MVDA2596428\n\nAge 60 Transaction Date 15-Sep-2018\n\nGender Male Attka Slot Morning\n\nEmail kamnakhanna@gmail.com  ID No. 818752082782\n\nAddress :   34, Ajmer Road,Pratappura,Agra Cantt Mobile 8588832415 \n\nINSTRUCTIONS \n\nThe Passenger must carry the Credit/Debit Card in original through which the Transaction has\n\nbeen made without which the Reservation/Boarding will be denied without any refund.\n\nThis pass will also provide all facilities of Yatra Registration for Shri Mata Vaishno Devi Shrine. \n\nThe reporting time for Morning Attka is 05:30 AM and the reporting time \n \n\nfor Evening Attka is 06:00 PM \n\nChildren below Ten Years of age shall not be charged. \n\nReport at Room No.08 Kalika Bhawan, Bhawan. \n\nOnline Booking once done shall not be cancelled/postponed/preponed. \n\nFailure transaction shall not be entertained. \n\nPlease check your transaction in Devotee Zone by entering the username and password\n \n\non Home Page.  \n\nAny dispute relating to or arising out of all or any one of the above stated terms and conditions\n\nshall be subject to the exclusive Jurisdiction of Courts at Katra /Reasi.\n\n[image: image0.png]\n",
	"metadata_storage_path": "aHR0cHM6Ly9rYW1uYXN0b3JhZ2VhY2NvdW50LmJsb2IuY29yZS53aW5kb3dzLm5ldC9iYW5rMS9BdHRrYSUyMFBhcmNoaSUyMFJhamVldiUyMENoYWRoYS5wZGY1",
	"metadata_content_type": "application/pdf",
	"metadata_language": "en",
	"sentiment": [0.5],
	"keyphrases": ["Transaction Date", "Morning Attka", "Failure transaction", "Evening Attka", "ATTKA DARSHAN PASS", "Shri Mata Vaishno Devi Shrine Board Katra", "Attka Parchi Services", "RAJEEV CHADHA Transaction ID MVDA2596428", "Credit", "Debit Card", "Gender Male Attka Slot Morning", "Boarding", "Passenger", "reporting time", "Date Of Darshan", "Reservation", "refund", "Online Booking", "Kalika Bhawan", "Years of age", "facilities of Yatra Registration", "Ajmer Road", "Pratappura", "Agra Cantt Mobile", "exclusive Jurisdiction of Courts", "Room", "Devotee Zone", "username", "Reasi", "stated terms", "conditions", "password", "Address", "Children", "PM", "Home Page", "Email", "Office", "INSTRUCTIONS", "dispute", "image"],
	"language": "en",
	"merged_content": "\n9/15/2018 :: Shri Mata Vaishno Devi Shrine Board :: Attka Parchi Services\n\nhttps://www.maavaishnodevi.org/onlineservices/AttkaSlip.aspx 1/1\n\nShri Mata Vaishno Devi Shrine Board Katra\n ATTKA DARSHAN PASS \n\n Booking Office : ONLINE \nDate Of Darshan : 14-Nov-2018  \n\n \n\nThe Passenger must carry the Credit/Debit Card in original through which the Transaction has\nbeen made without which the Reservation/Boarding will be denied without any refund.\n\nName RAJEEV CHADHA Transaction ID MVDA2596428\n\nAge 60 Transaction Date 15-Sep-2018\n\nGender Male Attka Slot Morning\n\nEmail kamnakhanna@gmail.com  ID No. 818752082782\n\nAddress :   34, Ajmer Road,Pratappura,Agra Cantt Mobile 8588832415 \n\nINSTRUCTIONS \n\nThe Passenger must carry the Credit/Debit Card in original through which the Transaction has\n\nbeen made without which the Reservation/Boarding will be denied without any refund.\n\nThis pass will also provide all facilities of Yatra Registration for Shri Mata Vaishno Devi Shrine. \n\nThe reporting time for Morning Attka is 05:30 AM and the reporting time \n \n\nfor Evening Attka is 06:00 PM \n\nChildren below Ten Years of age shall not be charged. \n\nReport at Room No.08 Kalika Bhawan, Bhawan. \n\nOnline Booking once done shall not be cancelled/postponed/preponed. \n\nFailure transaction shall not be entertained. \n\nPlease check your transaction in Devotee Zone by entering the username and password\n \n\non Home Page.  \n\nAny dispute relating to or arising out of all or any one of the above stated terms and conditions\n\nshall be subject to the exclusive Jurisdiction of Courts at Katra /Reasi.\n\n[image: image0.png]\n",
	"text": [],
	"layoutText": [],
	"imageTags": []
}]};
				console.log($scope.obj.value.length);
				$scope.totalPage = ($scope.obj.value.length/3===0?($scope.obj.value.length/3):parseInt($scope.obj.value.length/3 + 1));
				$scope.currPage=1;
				console.log($scope.totalPage);*/
				
				$http({
				method : 'GET',
				url    : 'https://kamnafirstblob.search.windows.net/indexes/azureblob-indexlatest/docs?api-version=2019-05-06&search='+$scope.searchItem,
				headers: {
							'Content-Type': 'application/json',
							'api-key':'E23116D6EE66E451AC9936CB5D72615A'
						}							
				})
				.then(function(data,status,header,config)
				{
					var response = data;
					console.log(JSON.stringify(response.data.value));	
					$scope.obj = response.data;
					console.log("dddddddd "+$scope.obj.value.length);
					if($scope.obj.value.length == 0)
						$scope.errFlag = true;
					else
					{
						$scope.totalPage = (($scope.obj.value.length%3)==0?($scope.obj.value.length/3):parseInt($scope.obj.value.length/3 + 1));
						console.log($scope.obj.value.length);
						console.log($scope.totalPage);
						$scope.currPage=1;
					}
				}
				,function(error)
				{
					console.log('eee/');
				});
			}
			$scope.clearSearchBox = function(){
				$scope.searchItem="";
				$scope.obj=null;
				$scope.totalPage=0;
				$scope.errFlag = false;
			}
			
			$scope.changePage = function(pgNo){
				$scope.currPage=pgNo;
			}
			
			$scope.highlight = function(text, search) {
				if (!search) {
					return $sce.trustAsHtml(text);
				}
				return $sce.trustAsHtml(unescape(escape(text).replace(new RegExp(escape(search), 'gi'), '<span class="highlightedText">$&</span>')));
			};
			
		/*if(!Array.isArray($scope.obj))
			$scope.obj= [$scope.obj];*/
		}]);
		</script>
	
		</div>
	</body>
</html>
